<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<main class="container">
 
<%# all my created trails goes here %> 
  
  <%# This is my comment box %> 
 
  <%# This is a link to attach a new picture and comments %> 
   <!-- <a href="/trails/new">Create a new trail</a> -->
<div id="display-trails-index">


  

    <% trail.forEach(element => { %>
      <% element.content.forEach(subelement => { %>
        <div id="trails-individual">
          <p><%= subelement.review %> <%= subelement.rating %> </p> <a href="/trails/<%= element._id %> ">details</a>
        </div>
        
        
      <% }) %> 
    <% }) %>
  

  

  

  


</div>
  


</main>


<%- include('../partials/footer') %>
