<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main id="display-trails-index">
 
    <% trail.forEach(element => { %>
    <%# All my created trails goes here with an image  %> 
    <div class="index-img" ><img src="<%= element.image %>"       alt="">
      
      <%# All my ratings for the trail goes here %> 
      <% element.content.forEach(subelement => { %>

        <div id="trails-individual"class="card">

            <% if( subelement.rating===1) {%> 
                <p>'🌟'</p>

              <% } %> 
              <% if(subelement.rating===2) {%> 
                <p>'🌟🌟'</p>

              <% } %>

              <% if(subelement.rating===3) {%> 
                <p>'🌟🌟🌟'</p>

              <% } %> 

              <% if( subelement.rating===4) {%> 
                <p>'🌟🌟🌟🌟'</p>

              <% } %>  

              <% if( subelement.rating ===5) {%> 
                <p>'🌟🌟🌟🌟🌟'</p>

              <% } %>  
              <%# all my links to the individual trails goes here %> 
          <a href="/trails/<%= element._id %> "><h3 id="trail-name"><%= element.name %> </h3></a>
        </div>
        
        
      <% }) %> 
      
    </div>
       
    <% }) %>

</main>


<%- include('../partials/footer') %>
