<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<main class="container">
 <h1><%= trail.name %></h1>
 <div class="container-sm"><img src="<%= trail.image %> " alt="">

</div>  
 

  <div class="info">
    <% trail.content.forEach(info => { %>
      <!-- <div class="ratings"><%= info.rating %> </div> -->
      <% if(info.rating===1) {%> 
          <h1><%= 'ðŸ‘'%></h1> 
        <% } %> 
        <% if(info.rating===2) {%> 
          <h1><%= 'ðŸ‘ðŸ‘' %> </h1>
        <% } %> 
        <% if(info.rating===3) {%> 
          <h1><%= 'ðŸ‘ðŸ‘ðŸ‘'%></h1> 
        <% } %> 
        <% if(info.rating===4) {%> 
          <h1><%= 'ðŸ‘ðŸ‘ðŸ‘ðŸ‘' %></h1> 
        <% } %> 
        <% if(info.rating===5) {%> 
          <h1><%= 'ðŸ‘ðŸ‘ðŸ‘ðŸ‘ðŸ‘' %></h1> 
        <% } %> 
      <div class="card p-3 reviews"><%= info.review %> </div class="reviews">
         
     <% }) %>

  </div>


<div class=" place-info"><b>Location:</b> <%= trail.place %> </div>

  <div class=" credit-info"><b>Credits:</b> <%= trail.boss.name %> </div>
  

<div class="card edit-info"><a href="/trails/<%= trail._id %>/edit">Edit</a> </div>
<form action="/trails/<%= trail._id %>?_method=DELETE" method="POST">
  <button method="post">Delete</button>
</form>
</main>





<%- include('../partials/footer') %>