<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<main>
 <h1><%= title %></h1>  
<% trail.content.forEach(info => { %>
 <h1><%= info.review %> </h1>
 <h1><%= info.rating %> </h1>
<% }) %>

</main>





<%- include('../partials/footer') %>